<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Octane web services helps your business flourish on the internet, lets us build and host a website for just your business!">
    <title>Octane Web Services - We can create and host your website!</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="queries.css">
    <script src="https://kit.fontawesome.com/4c4ab264c0.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <header>
            <h1 id="logo">Octane</h1>
        </header>

        <section id="title-page">
            <div class="title-page">
                <div class="title-page-text">
                    <h1 id="title">Låt oss bygga din<br>framtid tillsammans</h1>
                    <p>Vi vet värdet av ditt<br>företag, låt oss visa internetet</p>
                    <span class="buttons">
                        <button id="primary-cta">Kom igång!</button>
                        <button id="secondary-cta">Vilka är vi?</button>
                    </span>
                </div>
                <div class="title-page-img">
                    <img src="resources/title-page-img.png">
                </div>
            </div>
            <div class="title-page-coop">
                <div class="coop-title">
                    <p>Våra samarbete</p>
                </div>
                <span class="cooperations">
                    <i class="fa-brands fa-cc-visa"></i>
                    <i class="fa-brands fa-cc-mastercard"></i>
                    <i class="fa-brands fa-cc-paypal"></i>
                    <i class="fa-brands fa-cc-stripe"></i>
                </span>
            </div>
        </section>

        <section id="info">
            <div class="banner">
                <h1 id="title">Let’s Build Your<br>Future Together</h1>
            </div>
            <div class="info">
                <div class="info-cnt-1">
                    <div class="info-cnt-1-text">
                        <h1>Redo att få ditt<br>företag till en ny nivå?</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Proin ut tellus ipsum.Etiam
                        nec nibh a leo imperdiet congue vel at quam.
                        Sed velit nisi, euismod porta libero eget,
                        egestas aliquet metus.</p>
                    </div>

                    <img src="resources/phone.png">
                </div>
                <div class="info-cnt-2">
                    <img src="resources/tablet.png">
                    <div class="info-cnt-2-text">
                        <h1>Nå ut mer</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Proin ut tellus ipsum.Etiam
                        nec nibh a leo imperdiet congue vel at quam.
                        Sed velit nisi, euismod porta libero eget,
                        egestas aliquet metus.</p>
                    </div>
                    
                </div>
                <div class="info-cnt-3">
                    <img src="resources/laptop.png">
                </div>
            </div>
        </section>

        <section id="project-steps">
            <div class="banner">
                <h1 id="title">Let’s Build Your<br>Future Together</h1>
            </div>

            <div class="steps">
                <div class="step step-1">
                    <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Proin ut tellus ipsum.Etiam
                    nec nibh a leo imperdiet congue vel at quam.
                    Sed velit nisi, euismod porta libero eget,
                    egestas aliquet metus.</p>
                    <h1>1</h1>
                </div>
                <div class="step step-2">
                    <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Proin ut tellus ipsum.Etiam
                    nec nibh a leo imperdiet congue vel at quam.
                    Sed velit nisi, euismod porta libero eget,
                    egestas aliquet metus.</p>
                    <h1>2</h1>
                </div>
                <div class="step step-2">
                    <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Proin ut tellus ipsum.Etiam
                    nec nibh a leo imperdiet congue vel at quam.
                    Sed velit nisi, euismod porta libero eget,
                    egestas aliquet metus.</p>
                    <h1>3</h1>
                </div>
            </div>
        </section>

        <section id="price-plan">
            <div class="banner">
                <h1 id="title">En <span id="special">plan</span> för ditt<br>företag</h1>
            </div>

            <div class="price-plan">
                <div class="plan plan-1">
                    <div class="plan-title">
                        <h1>Nå ut mer</h1>
                        <p>500 kr</p>
                    </div>
                    <div class="plan-offer">
                        <div class="offer"><i id="active" class="fa-solid fa-circle-check"></i><p>Lorem ipsum dolor sit amet</p></div>
                        <div class="offer"><i id="active" class="fa-solid fa-circle-check"></i><p>Lorem ipsum dolor sit amet</p></div>
                        <div class="offer"><i id="deactive" class="fa-solid fa-circle-xmark"></i><p>Lorem ipsum dolor sit amet</p></div>
                        <div class="offer"><i id="deactive" class="fa-solid fa-circle-xmark"></i><p>Lorem ipsum dolor sit amet</p></div>
                        <div class="offer"><i id="deactive" class="fa-solid fa-circle-xmark"></i><p>Lorem ipsum dolor sit amet</p></div>
                        <div class="offer"><i id="deactive" class="fa-solid fa-circle-xmark"></i><p>Lorem ipsum dolor sit amet</p></div>
                    </div>
                    <div class="plan-button">
                        <button>Välj plan</button>
                    </div>
                </div>
                <div class="plan plan-2" id="special-offer">
                    <div class="plan-title">
                        <h1>Nå ut mer</h1>
                        <p>500 kr</p>
                    </div>
                    <div class="plan-offer">
                        <div class="offer"><i id="active" class="fa-solid fa-circle-check"></i><p>Lorem ipsum dolor sit amet</p></div>
                        <div class="offer"><i id="active" class="fa-solid fa-circle-check"></i><p>Lorem ipsum dolor sit amet</p></div>
                        <div class="offer"><i id="active" class="fa-solid fa-circle-check"></i><p>Lorem ipsum dolor sit amet</p></div>
                        <div class="offer"><i id="active" class="fa-solid fa-circle-check"></i><p>Lorem ipsum dolor sit amet</p></div>
                        <div class="offer"><i id="deactive" class="fa-solid fa-circle-xmark"></i><p>Lorem ipsum dolor sit amet</p></div>
                        <div class="offer"><i id="deactive" class="fa-solid fa-circle-xmark"></i><p>Lorem ipsum dolor sit amet</p></div>
                    </div>
                    <div class="plan-button">
                        <button>Välj plan</button>
                    </div>
                </div>
                <div class="plan plan-3">
                    <div class="plan-title">
                        <h1>Nå ut mer</h1>
                        <p>500 kr</p>
                    </div>
                    <div class="plan-offer">
                        <div class="offer"><i id="active" class="fa-solid fa-circle-check"></i><p>Lorem ipsum dolor sit amet</p></div>
                        <div class="offer"><i id="active" class="fa-solid fa-circle-check"></i><p>Lorem ipsum dolor sit amet</p></div>
                        <div class="offer"><i id="active" class="fa-solid fa-circle-check"></i><p>Lorem ipsum dolor sit amet</p></div>
                        <div class="offer"><i id="active" class="fa-solid fa-circle-check"></i><p>Lorem ipsum dolor sit amet</p></div>
                        <div class="offer"><i id="active" class="fa-solid fa-circle-check"></i><p>Lorem ipsum dolor sit amet</p></div>
                        <div class="offer"><i id="active" class="fa-solid fa-circle-check"></i><p>Lorem ipsum dolor sit amet</p></div>
                    </div>
                    <div class="plan-button">
                        <button>Välj plan</button>
                    </div>
                </div>
            </div>
        </section>

        <section id="final-cta">
            <div class="title-page-text">
                <h1 id="title">Låt oss bygga din<br>framtid tillsammans</h1>
                <p>Vi vet värdet av ditt<br>företag, låt oss visa internetet</p>
                <span class="buttons">
                    <button id="primary-cta">Kom igång!</button>
                    <button id="secondary-cta">Vilka är vi?</button>
                </span>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer">
            <div class="footer-nav-item">
                <h1>Home</h1>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
            </div>
            <div class="footer-nav-item">
                <h1>About</h1>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
            </div>
            <div class="footer-nav-item">
                <h1>Contact</h1>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
            </div>
            <div class="footer-nav-item">
                <h1>Job</h1>
                <p>Lorem ipsum</p>
            </div>
            <div class="footer-socials">
                <h1>Follow us</h1>
                <div class="socials">
                    <i class="fa-solid fa-globe"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                </div>
            </div>
            <div class="footer-gb">
                <h1>Powered by <span id="octane">OCTANE</span></h1>
            </div>
        </div>
    </footer>

    <script src="script.js"></script>
</body>
</html>